// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;



$color-primary: #F2D43D;
$color-primary-dark: #DCC037;
$color-light-grey: #AFB3B7;
$color-dark-grey: #343A3E;
$color-black: #000000;
$color-white: #FFFFFF;
